body {
    background-color: rgb(222, 173, 226);
}

a:link {
    text-decoration: none; 
    color: rgb(9, 9, 243); 
   }

.title { 
    text-align: center;
    position: static;
    margin-top: 2 cm;
}

.left{
    text-align: justify;
    margin-left: 4 cm;
    width: 500px;
    float: left;
}

.right{
    text-align: justify;
    margin-left: 4 cm;
    width: 500px;
    float: right;
}




.tab {
    margin-left: 6.5em
}